record(waveform, "ZRRX45:DATA")
{
        field(DESC, "ZR-RX45 Data")
	field(FTVL, "FLOAT")
        field(NELM, "20")
	field(SCAN, "10 second")
	field(PHAS, "0")
	field(DTYP, "ZRRX45Sup")
}

record(ai, "$(name)")
{
	field(SCAN, "10 second")
	field(INP, "ZRRX45:DATA")
	field(DTYP, "AiZRRX40Sup")
	field(PHAS, "1")
	field(LINR, "LINEAR")
	field(ASLO, "$(ASLO)")
	field(ESLO, "$(ESLO)")
	field(EOFF, "$(EOFF)")
	field(DESC, "ZRRX40@$(ch)")
}
